<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>empty comment</comment>
    <entry key="frame.title">Отчёты ПУГУ</entry>
    <entry key="menu.exit">Выход</entry>
    <entry key="menu.file">Файл</entry>
    <entry key="menu.data.store">Сохранить данные</entry>
    <entry key="menu.data.restore">Восстановить данные</entry>
    <entry key="menu.report">Отчёт</entry>
    <entry key="menu.report.generate">Создать отчёт</entry>
</properties>
